.body {
	font-weight: 400;
}

.section-padding {
	padding: 80px;
}
.section-headding {
	text-align: center;
	margin-bottom: 70px;
}
.section-headding h2 {
	font-size: 40px;
	font-weight: 700;
}

.single-team-item img {
	border: 2px solid #e8e8e8;
	width: 308px;
	height: 300px;
}
.team-social-icon {
	background: #5ba939;
	text-align: center;
	padding: 5px;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: -27px;
	position: relative;
	z-index: 2;
}
.team-social-icon a {
	display: inline-block;
	border: 1px solid;
	color: #fff;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	margin: 5px;
}

.single-team-item h4 {
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	margin-top: 16px;
}

.single-team-item h4 span {
	display: block;
	color: #5ba939;
	font-weight: 300;
	font-size: 15px;
	margin-top: 5px;
}
